<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User information only!</title>
</head>
<body>
<div>
    <form th:action="@{/logout}">
        <input type="submit" value="Logout"/>
    </form>
</div>

<div>
    <h3>Users information</h3>
    <table border="1" th:object="${user}">
        <tr>
            <th>id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Password</th>
            <th>Roles</th>
        </tr>
        <tr>
            <td th:utext="${user.id}"></td>
            <td th:utext="${user.username}"></td>
            <td th:utext="${user.email}"></td>
            <td th:utext="${user.password}"></td>
            <td th:utext="${user.roles}"></td>
        </tr>
    </table>
</div>
</body>
</html>